---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import CreditCard from './resources/Carrito/components/payment.astro';
import ModalController from './resources/Carrito/components/ModalController';
import '../../layouts/styles/global.css';

const pedido = [
  {
    pedido: 'Suscripción experto',
    students: '4 estudiantes',
    tiempo: 'Anual',
    image: '',
    description:
      'Accede a todos los cursos, rutas, talleres y certificados de GuimarBot con la suscripción experto',
    price: 'S/. 500',
  },
];
const types = ['Paypal', 'Tarjeta de crédito'];
---

<DashboardLayout title="Carrito de compras">
  <section class="w-full bg-white m-2 laptop:m-8">
    <div
      class="text-[#222] text-start h-full justify-center items-center animate-fadeInBlurHorizontal"
    >
      <h1 class="text-xl tablet:text-2xl mb-4 font-onest text-[#222] font-bold">
        Resumen de tu pedido
      </h1>
      <form
        class="flex flex-col tablet:flex-row tablet:space-x-5 space-y-4 tablet:space-y-0"
      >
        {
          pedido.map((pedido) => (
            <div class="bg-white bg-opacity-5 border-[#bfbfbf] border-[1px] backdrop-blur w-full tablet:w-[600px] laptop:w-[750px] laptopL:w-[935px] h-auto laptop:h-[325px] rounded-2xl">
              <div class="m-4 pl-2 items-center space-x-2 tablet:space-x-5 flex flex-col tablet:flex-row">
                <h1 class="text-base tablet:text-[18px] font-poppins text-[#222] font-semibold">
                  {pedido.pedido}
                </h1>
                <div class="space-x-2 flex flex-row font-poppins text-[#222] font-light">
                  <p class="bg-white bg-opacity-5 border-[#bfbfbf] border-[1px] items-center inline-flex px-2 tablet:px-4 py-[4px] rounded-full flex-row text-[12px] tablet:text-[13px]">
                    {pedido.students}
                  </p>
                  <p class="bg-white bg-opacity-5 border-[#bfbfbf] border-[1px] items-center inline-flex px-2 tablet:px-4 py-[4px] rounded-full flex-row text-[12px] tablet:text-[13px]">
                    {pedido.tiempo}
                  </p>
                </div>
              </div>

              <div class="m-4 tablet:m-6">
                <div class="grid grid-cols-1 tablet:grid-cols-6 gap-4">
                  <img
                    src="../../pages/dashboard/resources/Courses/images/python.jpg"
                    class="w-full tablet:col-span-3 rounded-lg"
                    alt=""
                  />
                  <div class="tablet:col-span-3 space-y-4">
                    <p class="text-[13px] tablet:text-[14px] opacity-75 font-poppins font-light">
                      {pedido.description}
                    </p>
                    <h1 class="text-right font-poppins text-[#222] font-medium">
                      {pedido.price}
                    </h1>
                  </div>
                </div>
              </div>

              <div class="flex flex-col tablet:flex-row px-4 tablet:px-6 py-4 justify-between w-full rounded-b-xl font-inter space-y-2 tablet:space-y-0">
                <a
                  href=""
                  class="text-[14px] tablet:text-[16px] text-[#0169e1] font-normal"
                >
                  ¿Necesitas ayuda en tu pedido?
                </a>
                <p class="text-[14px] tablet:text-[16px] font-semibold">
                  Total {pedido.price}
                </p>
              </div>
            </div>
          ))
        }

        {
          pedido.map((pedido) => (
            <div class="bg-white bg-opacity-5 border-[#bfbfbf] border-[1px] backdrop-blur w-full tablet:w-[350px] laptop:w-[400px] laptopL:w-[450px] h-auto laptop:h-[325px] rounded-2xl">
              <h1 class="text-[20px] tablet:text-[24px] text-[#f7c124] mt-6 tablet:mt-10 text-center font-semibold">
                {pedido.pedido}
              </h1>
              <h1 class="text-center text-[24px] tablet:text-[30px] mb-2 text-[#222] font-inter font-black">
                {pedido.price}
              </h1>

              <a
                href=""
                class="text-[14px] tablet:text-[16px] text-[#0169e1] justify-center flex mb-6 tablet:mb-8 font-inter font-normal"
              >
                ¿Tienes un cupón?
              </a>

              <div class="space-y-3 px-4 tablet:px-0 pb-4 tablet:pb-0">
                <ModalController
                  price={pedido.price}
                  title={pedido.pedido}
                  client:load
                />

                <button class="flex flex-row px-4 tablet:px-[78px] py-2 bg-black bg-opacity-5 border-[#bfbfbf] border-[1px] backdrop-blur rounded-lg mx-auto">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 7v13m0-13H8.464c-.52 0-1.02-.21-1.389-.586A2.02 2.02 0 0 1 6.5 5c0-.53.207-1.04.575-1.414A1.95 1.95 0 0 1 8.465 3C11.214 3 12 7 12 7m0 0h3.536c.52 0 1.02-.21 1.389-.586.368-.375.575-.884.575-1.414s-.207-1.04-.575-1.414A1.95 1.95 0 0 0 15.535 3C12.786 3 12 7 12 7m-7 5h14v5.8c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C17.48 21 16.92 21 15.8 21H8.2c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C5 19.48 5 18.92 5 17.8zm-.4 0h14.8c.56 0 .84 0 1.054-.109a1 1 0 0 0 .437-.437C21 11.24 21 10.96 21 10.4V8.6c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C20.24 7 19.96 7 19.4 7H4.6c-.56 0-.84 0-1.054.109a1 1 0 0 0-.437.437C3 7.76 3 8.04 3 8.6v1.8c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C3.76 12 4.04 12 4.6 12"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <p class="ml-2 font-inter font-medium text-[14px] tablet:text-[16px]">
                    Comprar como regalo
                  </p>
                </button>
              </div>
            </div>
          ))
        }
      </form>
    </div>
  </section>
</DashboardLayout>
